.date{
    color:#008080;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    font-weight: 600;
}
h1{
    font-family: Montserrat;
}
section{
    font-family: Open Sans;
    font-size: smaller;
    font-weight: 600;
    height: 100px;

    padding: 10px 40px 40px 40px;
}
body{
    background-color: darkslategrey;
    margin: 0;
}

div{
    background-color: #fffafa;
    width: 70%;
    margin: 0 auto 0 auto;
    
}