#main-header {
    background-color: #4211df;
    padding: 20px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    padding: 0%;
    list-style: none;
}

.nav-item {
    display: inline;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-size: cover;
}

h1+h2 {
    color: #791010;
}

h1:hover {
    color: #791010;
    background-attachment: fixed;
    background-color: #4211df;
}

/* .fino {
    display: inline;
    background-color: rgb(255, 115, 0);
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    font-size: 2vw;
}

.bloco {
    /* display: block; */
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    background-color: lightblue;
}

a[href="index.html"] {
    filter: brightness(110%);
    color: #791010;
}

.turnos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #791010;
}

.turnos h1 {

    background-image: none;
    /* No background image initially */
    background-size: contain;
    /* Make sure the image covers the whole element */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    height: 100px;
    /* Set a height for the <h1> so the background image is visible */
    text-align: center;
    line-height: 100px;
    /* Vertically center the text */
    transition: background-image 0.3s ease;
}

.turnos h1:hover {
    background-image: url('https://www.w3schools.com/cssref/paper.gif');
    /* Set the background image on hover */
}

.turnos li {
    display: inline;
    padding: 10px;
    background-color: #4211df;
    color: #ffffff;
}

.turnos li:hover {
    background-color: #791010;
}